hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"


// modular design look all made so good by me
include optional=true "./workspaces.kdl"
include "./env.kdl"
include "./binds.kdl" 
include "./windowrules.kdl" 
include "./decorations.kdl"
include optional=true "./monitors.kdl"
include "./inputs.kdl"
include "./startup.kdl"
include optional=true "./laptop.kdl"

