layout {
    gaps 3

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 1
        active-gradient from="#6813e8" to="#4524ed" relative-to="workspace-view"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
    background-effect {
        blur false
        xray true
    }
}

layer-rule {
    match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
    background-effect {
        blur false
        xray true
    }
}
