input {
    keyboard {
        xkb {
            layout "tr"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-speed 0.1
        accel-profile "flat"
    }

    // max-scroll-amount="0%" only focuses windows already fully on screen.
    focus-follows-mouse max-scroll-amount="0%"
}
