spawn-at-startup "noctalia"
spawn-at-startup "xdg-desktop-portal-gnome"
spawn-at-startup "xhost" "+si:localuser:root"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "DISPLAY" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"
