// Matches both host ("firefox") and Flatpak ("org.mozilla.firefox") app-ids.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="firefox"
    open-maximized true
}

window-rule {
    match title="Steam"
    open-maximized true
    open-on-workspace "1"
}
